<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.review.mapper.ReviewMapper">

    <insert id="insertReview">
        INSERT INTO reviews (user_id, product_id, rating, comment)
        VALUES (#{userId}, #{productId}, #{rating}, #{comment})
    </insert>

    <select id="selectByProductId" resultType="org.scoula.review.domain.ReviewVO">
        SELECT * FROM reviews WHERE product_id = #{productId}
    </select>

    <update id="updateReview">
        UPDATE reviews
        SET rating = #{rating}, comment = #{comment}
        WHERE review_id = #{reviewId}
    </update>

    <delete id="deleteReview">
        DELETE FROM reviews WHERE review_id = #{reviewId}
    </delete>

</mapper>